body{
    background: url(josh-kahen-1573053-unsplash.jpg);
    background-size: cover
}

h1 {
    color:rgb(85, 10, 0.5);
    text-align: center;
    border: 5px solid #457991;
}

form{
    color: aliceblue;
}

p {
    color: purple;

}

p {
    color: blue;
    
}


li {
    /* list-style: none; */
display: inline-block;    
}
ol{
color:white
}

ol{
color: white;
}



#div1{
    color: pink;

}

select{
    color: red;
}


